@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --main-color: #000000;
    font-family: 'Open Sans';
}

body {
    background-color: #dddad0;
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

header {
    display: flex;
}

.logo img {
    width: 300px;
}

.headcontacts img {
    width: 40px;
    margin: 5px 5px;
}

.headcontacts p {
    font-size: 12px;
    margin: 0;
}